@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema Control Entrada Salida CUC</h1>
    <p>Implementar un sistema web basado en códigos QR para el Colegio Universitario de Cartago, que integre los módulos de usuarios, autenticación, credenciales, validación, registro, reportes y administración, con el propósito de digitalizar el control de entradas y salidas de la institución.</p>
</div>
